body {
  font-family: Liberation Sans, Arial, sans-serif;
  line-height: 1.4;
}
main {
/* Given the above font, this width gives about the same width as the 80
   characters used in the source .md files. */
  max-width: 64ch;
  padding: 1.5ch;
  margin: auto;
}

a {
  text-decoration: none;
  color: blue;
}

pre > code {
  font-size: 90%;
}
